<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>ServletCarrito</servlet-name>
    <servlet-class>minitienda.ServletCarrito</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ServletCaja</servlet-name>
    <servlet-class>minitienda.ServletCaja</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ServletCarrito</servlet-name>
    <url-pattern>/ServletCarrito</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServletCaja</servlet-name>
    <url-pattern>/ServletCaja</url-pattern>
  </servlet-mapping>

</web-app>